@font-face{
    font-family: harlowSolid;
    src: url(HarlowSolidItalicItalic.ttf);
}
@font-face{
    font-family: Freschezza;
    src: url("FreschezzaNormal.ttf");
}
body{
    background: url("background.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
p{
    color: #005682;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #005682;
    font-family: Freschezza;
    font-size: 60px;
}
h2{
    font-size: 40px;
    font-family: harlowSolid;
}
#header{
    width:100%; 
	background:#1d1f20; 
	height:50px; 
	line-height:50px;
    position: fixed;
    z-index: 2;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100;
}
.menu{z-index:2; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:fixed; text-align:center; margin-top: 50px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}
.insta-button{
    background-color: #005682;
    color: white;
    border-radius: 5px;
}
.insta-div{
    display: inline-block;
    white-space: normal;
    margin-right: 20px;
    margin-left: 3px;
    vertical-align: top;
    background-color: white;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}
.profile-pic{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: left;
    margin: 10px;
    margin-top: none;
}
.username{
    padding-top: 15px;
    color: #005682;
    font-weight: bold;
    text-align: left;
    float: left;
    margin-left: 0px;
}
.user{
    text-align: left;
    float: left;
    text-decoration: none;
}
.likes{
    text-align: left;
    margin: 0;
    padding: 0;
    color: rgb(75, 79, 84);
    font-weight: bold;
}
.caption{
    text-align: left;
    vertical-align: top;
    color: black;
    overflow: auto;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
}
.paging-button {
  visibility: hidden;
}

.button-container {
  clear: both;
}
#gorge{
    color: #5a4432;
}
#about-text{
    box-shadow: 10px 10px 5px black;
    margin-top: 50px;
}
#map{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    clear: both;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px black;
}
#insta{
    height: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #005682;
    background-color: #f0f0f0;
    margin: 0 auto;
    margin-bottom: 20px;
}
#insta-wrap{
    background-color: #005682;
    text-align: center;
    border: 1px solid #005682;
    color: white;
    box-shadow: 10px 10px 5px black;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#twitter{
    height: 250px;
    width: 100%;
    float: none;
    margin-bottom: 50px;
    clear: both;
    box-shadow: 10px 10px 5px black;
}
#twitter-wrap{
    border: 1px solid #4099FF;
    background-color: #4099FF;
    text-align: center;
    color: white;
    width: 75%;
    margin-top: 20px;
    margin: 0 auto;
    height: 250px;
    box-shadow: 10px 10px 5px black;
}
#street-view {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px black;
}
#street-view-header{
    text-align: left;
    background-color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 100px;
    padding: 0px;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    box-shadow: 10px 10px 5px black;
}
#panorama-link{
    margin-top: 20px;
}
#wise-h2{
    text-align: center;
    background-color: #5a4432;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}
/* iPhone 6 */
@media screen and (max-width: 414px){
    #twitter-wrap{
        width: 100%;
    }
    #twitter{
        width: 100%;
    }
    #insta-wrap{
        width: 105%;
    }
    #insta{
        width: 100%;
    }
    #main-title{
        float: left;
        font-size: 25px;
    }
    
}
/* iPhone 5 */
@media screen and (max-width: 320px){
    .insta-pic, .insta-div, .user{
        width: 90%;
    }
}
/* Laptop */
@media screen and (min-width: 415px){
    #insta-wrap{
        width: 338px;
    }
    #header{
        position: fixed;
        background-color: inherit;
    }
}